<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <button id="ajax">ajax</button>
  <div id="show"></div>

</head>

<body>
  <script src="./jquery-3.5.1.min.js"></script>
  <script>
    $('#ajax').click(function () {
      /* let app = new Promise(function (res, err) {

       });*/
      let home = $('#show').load('./Home.vue');
      console.log(home);
    })
  </script>
</body>

</html>